fieldset{
    border-radius: 0.7rem;
}
#error{
    background-color: red;
    width:17%;
    padding:0.7rem;
    border-radius: 0.7rem;
    position: fixed;
    bottom: 20px;
    right:0.5rem;
    color:white;
    transition: all .2s ease;
    z-index: 999;
    animation: errorAnime .2s ease;
}

@keyframes errorAnime {
    from{
        transform: translateX(100px);
    }
    to{
        transform: translateX(0px);
    }
    
}

#btn{
    color: black;
    background-color: greenyellow;
    cursor: pointer;
    border: solid black 1.4px;
    border-radius: 0.55rem;
    padding: clamp(0.2rem, 0.7vw, 0.7rem);
    width: clamp(1rem,20vw,3.7rem);
    height: clamp(0.5rem, 12vw,1.4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: all .15s ease-in-out;
}
#btn:hover{
    background-color:rgba(172, 255, 47, 0.555) ;
    transform: scale(1.05);
}
#btn:active{
    background-color: greenyellow;
    transform: scale(0.8);
}
input{
    text-align: center;
    border-radius: 0.3rem;
    background-color: rgba(255, 255, 255, 0.107);
    border: 1px solid rgba(255, 255, 255, 0.351);
    box-shadow: 2px 2px 3px black;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    margin: 0.2rem;
    transition: all .2s ease;
}
input:hover{
    transform: scale(1.03);
}